@import url(./common.css);

:root {
    --bold: "OpenSans-Bold";
    --regular: "OpenSans-Regular";
    --saira: "SairaStencilOne";
}

.nav {
    background: #3e284f;
    padding: 20px 0;
}

.nav__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav__logo span {
    font-family: var(--saira);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.nav__basket {
    cursor: pointer;
}

.nav__shop {
    position: relative;
}

.nav__badge {
    width: 17px;
    height: 17px;
    border: 1px solid #3e284f;
    border-radius: 50%;
    font-family: var(--regular);
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #3e284f;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -8px;
    right: -10px;
    transition: 0.5s;
    transform: scale(0);
}

.nav__badge.nav__badge--active {
    transform: scale(1);
}

.intro__img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 74px;
    max-width: 1075px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.intro__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 24px;
    row-gap: 60px;
    margin-bottom: 135px;
}

.intro__card {
    height: 194px;
    box-shadow: 0px 20px 20px -15px #00000040;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 0 16px 16px 16px;
    background-color: #f4f4f4;
    position: relative;
    cursor: pointer;
}

.intro__subTitle {
    font-size: 18px;
    line-height: 100%;
    color: #404040;
    font-family: var(--saira);
    font-weight: 400;
}

.intro__orderBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.intro__price {
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    font-family: var(--bold);
    padding: 10px;
    background-color: #3e284f;
    border-radius: 10px;
}

.intro__basket {
    padding: 10px 8px 8px 10px;
    background-color: #3e284f;
    border-radius: 10px;
}

.intro__bg {
    position: relative;
}

.intro__burger {
    /* background-image: url(); */
    position: absolute;
    z-index: 2;
    display: block;
    top: calc(100% / 5);
    right: calc(100% / 5);
}

.card__badge {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #3e284f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--regular);
    font-size: 12px;
    border: 2px solid white;
    border-radius: 50%;
    right: -13px;
    top: -13px;
    transform: scale(0);
    transition: 0.5s;
}

.card__badge.active {
    transform: scale(1);
}

.basket {
    box-shadow: 0px 0px 10px 0px #00000033;
    border-radius: 10px;
    overflow: hidden;
    width: 357px;
    height: 390px;
    position: absolute;
    z-index: 3;
    background-color: white;
    top: -10px;
    right: 0;
    transition: 0.5s;
    transform: translateY(-125%);
    display: flex;
    flex-direction: column;
}

.basket.active {
    transform: translateY(0);
}

.basket__top {
    padding: 13px 16px;
    background-color: #775194;
    box-shadow: 0px 4px 10px 0px #0000001a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket__title {
    font-family: var(--bold);
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}

.basket__box {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 294px;
    overflow-y: auto;
    /* margin-bottom: 50px; */
}

.basket__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket__info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.basket__prices {
    display: flex;
    flex-direction: column;
}

.basket__infoTitle {
    font-family: var(--saira);
    font-weight: 400;
    font-size: 16px;
    color: #404040;
}

.basket__price {
    font-family: var(--regular);
    font-size: 16px;
    line-height: 100%;
}

.basket__amount {
    border-radius: 4px;
    background-color: #bbbbbb;
    display: flex;
    align-items: center;
}

.basket__minus,
.basket__plus {
    padding: 4px 10px;
    font-family: var(--bold);
    font-size: 16px;
    line-height: 100%;
    cursor: pointer;
}

.basket__num {
    padding: 3px 8px;
    font-family: var(--bold);
    font-size: 16px;
    line-height: 100%;
    background-color: #eeeeee;
}

.basket__info img {
    width: 70px;
}

.basket__bottom {
    background-color: #00a441;
    box-shadow: 0px -4px 10px 0px #0000001a;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.basket__bottom p {
    font-family: var(--bold);
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}

.basket__bottom p:first-child {
    cursor: pointer;
}

.basket__close {
    cursor: pointer;
}

.intro__cardImg--media {
    width: calc(100% / 1.7);
}

body.lock {
    overflow: hidden;
}